service-stubs/identity/org.wso2.carbon.identity.user.session.stub/src/main/resources/UserSessionService.wsdl

<!--
  ~  Copyright (c) 2018, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~  WSO2 Inc. licenses this file to you under the Apache License,
  ~  Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing,
  ~  software distributed under the License is distributed on an
  ~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  KIND, either express or implied.  See the License for the
  ~  specific language governing permissions and limitations
  ~  under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://services.session.user.identity.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ax2469="http://exception.session.user.identity.carbon.wso2.org/xsd"
                  xmlns:ax2471="http://model.session.user.identity.carbon.wso2.org/xsd"
                  targetNamespace="http://services.session.user.identity.carbon.wso2.org">
    <wsdl:documentation>UserSessionService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://exception.session.user.identity.carbon.wso2.org/xsd">
            <xs:complexType name="SessionManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SessionManagementServerException">
                <xs:complexContent>
                    <xs:extension base="ax2469:SessionManagementException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exception.session.user.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.session.user.identity.carbon.wso2.org/xsd"/>
            <xs:element name="UserSessionServiceSessionManagementServerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SessionManagementServerException" nillable="true"
                                    type="ax2469:SessionManagementServerException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewUserSession">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userStore" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewUserSessionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2471:UserSession"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://model.session.user.identity.carbon.wso2.org/xsd">
            <xs:complexType name="UserSession">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applications" nillable="true"
                                type="ax2471:Application"/>
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastAccessTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="loginTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Application">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="viewUserSessionRequest">
        <wsdl:part name="parameters" element="ns1:viewUserSession"/>
    </wsdl:message>
    <wsdl:message name="viewUserSessionResponse">
        <wsdl:part name="parameters" element="ns1:viewUserSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="UserSessionServiceSessionManagementServerException">
        <wsdl:part name="parameters" element="ns1:UserSessionServiceSessionManagementServerException"/>
    </wsdl:message>
    <wsdl:portType name="UserSessionServicePortType">
        <wsdl:operation name="viewUserSession">
            <wsdl:input message="tns:viewUserSessionRequest" wsaw:Action="urn:viewUserSession"/>
            <wsdl:output message="tns:viewUserSessionResponse" wsaw:Action="urn:viewUserSessionResponse"/>
            <wsdl:fault message="tns:UserSessionServiceSessionManagementServerException"
                        name="UserSessionServiceSessionManagementServerException"
                        wsaw:Action="urn:viewUserSessionUserSessionServiceSessionManagementServerException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserSessionServiceSoap11Binding" type="tns:UserSessionServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="viewUserSession">
            <soap:operation soapAction="urn:viewUserSession" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserSessionServiceSessionManagementServerException">
                <soap:fault use="literal" name="UserSessionServiceSessionManagementServerException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserSessionServiceSoap12Binding" type="tns:UserSessionServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="viewUserSession">
            <soap12:operation soapAction="urn:viewUserSession" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserSessionServiceSessionManagementServerException">
                <soap12:fault use="literal" name="UserSessionServiceSessionManagementServerException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserSessionServiceHttpBinding" type="tns:UserSessionServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="viewUserSession">
            <http:operation location="viewUserSession"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserSessionService">
        <wsdl:port name="UserSessionServiceHttpsSoap11Endpoint" binding="tns:UserSessionServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/UserSessionService.UserSessionServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserSessionServiceHttpsSoap12Endpoint" binding="tns:UserSessionServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/UserSessionService.UserSessionServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserSessionServiceHttpsEndpoint" binding="tns:UserSessionServiceHttpBinding">
            <http:address
                    location="https://localhost:9443/services/UserSessionService.UserSessionServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>